<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
<connectionStrings>
  <add name="FootballTransfersEntities" connectionString="metadata=res://*/ADOApp.FootballTransfersModel.csdl|res://*/ADOApp.FootballTransfersModel.ssdl|res://*/ADOApp.FootballTransfersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-UAOP7DE\SQLEXPRESS;initial catalog=FootballTransfers;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>